.main-container {
  max-width: 1440px;
  width: 100%;
  height: 800px;
  margin: 0 auto;
  padding: 40px 40px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: clamp(0.313rem, -8.178rem + 13.253vw, 3.75rem);
}
.bkg-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.bkg-image-mobile {
  display: none;
}
.main--section {
  position: relative;
  min-height: 100vh;
  height: 100%;
  overflow: hidden;
}
.main__image {
  position: relative;
}
.img-abs-1 {
  position: absolute;
  left: -43px;
  bottom: -33px;
  rotate: 45deg;
}
.img-abs-2 {
  position: absolute;
  right: -30px;
  top: -30px;
  rotate: -30deg;
}
.img-abs-3 {
  position: absolute;
  right: 0;
  bottom: 0;
}
.main__info {
  max-width: 640px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.main__title {
  font-weight: 900;
  font-size: clamp(1.75rem, 1.471rem + 1.143vw, 2.5rem);
  color: #fff;
  span {
    font-weight: 900;
    font-size: clamp(1.75rem, 1.286rem + 1.905vw, 3rem);
    color: #ffa800;
  }
  padding-bottom: 24px;
}
.main__subtitle {
  font-weight: 500;
  font-size: clamp(1rem, 0.907rem + 0.381vw, 1.25rem);
  color: #e6e6e6;
  padding-bottom: 50px;
}
.main__item:not(:last-child) {
  padding-bottom: 40px;
}
.main__item--title {
  font-weight: 700;
  font-size: clamp(1.25rem, 1.204rem + 0.19vw, 1.375rem);
  color: #fff;
  padding-bottom: 8px;
}
.main__item--descr {
  font-weight: 400;
  font-size: clamp(0.875rem, 0.782rem + 0.381vw, 1.125rem);
  color: #fff;
}
.main--link {
  border-radius: 8px;
  padding: 16px 40px;
  max-width: 252px;
  height: 59px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffa800;
  font-weight: 600;
  font-size: 20px;
  color: #fff;
}
.abs-main-img {
  rotate: -15deg;
}
.main__image-mobile,
.img-abs-2-2 {
  display: none;
}
.main__image {
  height: 665px;
  .img-main-info {
    width: 100%;
    height: 100%;
  }
}
.img-main-abs1 {
  display: none;
  mix-blend-mode: luminosity;
  rotate: 15deg;
}
.main__title--mobile {
  display: none;
}
@media screen and (max-width: 1368px) {
  .main-container {
    max-width: 100%;
    margin: 0;
    padding: 40px 40px;
  }
}

@media screen and (max-width: 1024px) {
  .main__image {
    height: 100%;
  }
  .img-abs-2-2 {
    display: block;
    position: absolute;
    right: -18px;
    bottom: -28px;
    width: 76px;
    rotate: -15deg;
  }
  .img-abs-2 {
    display: none;
  }
  .main__image-mobile {
    display: block;
    width: 328px;
    position: relative;
    margin-bottom: 20px;
  }
  .main__subtitle {
    max-width: 268px;
  }
  .img-abs-1 {
    display: none;
  }
  .img-abs-1-1 {
    position: absolute;
    top: -38px;
    width: 74px;
    right: -12px;
    rotate: 45deg;
  }
  .main--section {
    height: 100%;
  }
  .img-main-info {
    display: none;
  }
  .img-main-info {
    width: clamp(20.5rem, 7.351rem + 53.943vw, 41.875rem) !important;
    height: clamp(22.563rem, 4.646rem + 73.502vw, 51.688rem) !important;
  }
  .img-abs-1 {
    right: -15px;
    left: unset;
  }
  .bkg-image-mobile {
    display: block;
    position: absolute;
    left: -1%;
    top: 0;
    width: 102%;
    height: 100%;
    z-index: -1;
  }
  .bkg-image {
    display: none;
  }
  .img-abs-2 {
    top: unset;
    bottom: -214px;
    right: -58px;
    width: 100px;
  }
  .main-container {
    max-width: 100%;
    height: 100%;
    padding: 20px;
    gap: 32px;
    flex-direction: column;
    align-items: baseline;
  }
  .abs-main-img {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .img-abs-1 {
    width: 74px;
    bottom: -22px;
  }
  .img-abs-2 {
    width: 74px;
    bottom: -191px;
  }
}
@media screen and (max-width: 460px) {
  .main__title {
    // white-space: nowrap;
    padding-bottom: 16px;
    b {
      font-weight: 900;
      font-size: clamp(1.75rem, 1.286rem + 1.905vw, 3rem);
      color: #ffa800;
    }
    span {
      width: 100%;
      display: block;
    }
    br {
      display: none;
    }
  }
  .img-abs-2 {
    bottom: -234px;
  }
  .main__subtitle {
    max-width: 268px;
  }
  .bkg-image-mobile {
    left: -105%;
    width: 208%;
  }
  .main__title--mobile {
    display: block !important;
  }
  .main__title {
    display: none;
  }
}
@media screen and (max-width: 420px) {
  .img-abs-2 {
    bottom: -262px;
  }
}
